{% extends 'base.html' %}
{% block content %}
<h2>Password change for {{ user }}</h2>
<p>You can change your password from here. Please enter your new password twice so we can verify you typed it in correctly.</p>
	<form class="form-vertical" action="" method="post" enctype="multipart/form-data">
	    <table class="table_container"><tbody>
	      {{ form.as_table }}
	  </tbody></table>
	  <div class="form-actions">
	  	<input type="submit" value="Change" class="btn btn-primary"/>
	  </div>
	</form>
{% endblock %}
