{% extends 'base.html' %}
{% block content %}
{% if request.user.is_active %}<h2>Absurd request</h2>
<p>
    You are already logged in.
</p>
{% else %}<h2>Register with us</h2>
<br><span style="color:red;">**All fields are required.</span>
<p>
    <form action = "" method = "post" class = "form">
        <table class="table table-condensed">
            {{ profileform }}
            {% csrf_token %}
            {{ form }}
            {% csrf_token %}
         </table>
	       	<div class="form-actions" style="min-height: 30px">
	           <input class = 'btn btn-primary' type = 'submit' value = 'Register' style ="float:left;"/>
	         </div>
    </form>
</p>
{% endif %}
<div class="row"> <!-- START: Login info -->
	<p>
	    Already Registered? <a href="/accounts/login/">Login</a>
	    <br>
	    Forgot Password? Mail us at codebhaat@gmail.com to reset your password with your details. 
	</p>
</div> <!-- END: Login info -->
{% endblock %}
