{% extends 'sidebar_activity.html' %}
{% load comments humanize cache valuation %}

{% block head %}

{% endblock %}

{% block content_heading %}Contribute a problem{% endblock %}

{% block content %}


	<div class="row row-content"> <!-- Contribute Content -->

	    <form action="#" method="post" class = "form-vertical" enctype="multipart/form-data">
	        <table>
	            {{ form }}
	        </table>
	        <div class="form-actions">
		        	<input type="submit" value="Contribute" class = "btn btn-primary"/>
		        	<button class="btn">Cancel</button>
	        </div>
	    </form>
    
    </div> <!-- END: Contribute content -->


{% endblock %}
