{% extends 'base.html' %}
{% load comments humanize cache valuation %}

{% block head %}
<meta http-equiv="refresh" content="30;">
<link href="/media/stylesheets/shThemeDjango.css" rel="stylesheet" type="text/css" />
<link href="/media/stylesheets/shCore.css" rel="stylesheet" type="text/css">
<link href="/media/stylesheets/highlight.css" rel="stylesheet" type="text/css">
<script src="/media/js/shCore.js" type="text/javascript"></script>
<script src="/media/js/shAutoloader.js" type="text/javascript"></script>
{% endblock %}

{% block content_heading %}Contribute a problem{% endblock %}
{% block content %}

<div class="entry" style="width:60%;">

    <form action="#" method="post" class = "form" enctype="multipart/form-data">
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Submit" class = ".btn"/>
    </form>
</div>

{% endblock %}
{% block sidebar %}
{% endblock %}
