{% extends 'sidebar_activity.html' %}
{% load problem_tags %}
{% block content_heading %}

	<div class="row"> <!-- START: Navigation bar -->
		<ul class="nav nav-pills">
			<li class="active">
				<a href="#">Contests</a>
			</li>
		</ul>
	</div> <!-- END: Navigation bar -->

{% endblock %}
{% block content %}


	<div class="row row-content"> <!-- START: Contest row -->

		<table class="table table-striped">
			{% for contest in contests %}
			<tr>
				<td>
					<a href="{% url contest_problems contest.pk %}">{{ contest }}</a>
				<td>
			</tr>
				
			{% endfor %}
		</table>
		
	</div> <!-- END: Contest row -->

{% endblock %}

