{% extends 'base.html' %}
{% block content_heading %}code#bhaat team{% endblock %}
{% block content %}
<div class = "widen" style="position:relative; left:-20px;">
<div id="contentBlock" style="display: block; ">
  <div class="item mainItem">
       				<table>
					<tbody>
					<tr><td style="border:0; width:45%"><h3>Event Coordinators</h3>
					<tr>
						<td style="border:0;width:45%"><b style="font-size:14px;">Sanket Agarwal</b><br>
							Email: snktagarwal@gmail.com<br>
							Ph:+91 9733504396
						</td>
						<td style="border:0;width:45%"><b style="font-size:14px;">Pratik Agrawal</b><br>
							Email: pratik.garg89@gmail.com<br>
							Ph:+91 9734404990
						</td>
					</tr>
					<tr><td style="border:0; width:45%"><h3>Developers</h3></td></tr>
					<tr>
						<td style="border:0;width:45%"><b style="font-size:14px;">Pankaj Singh</b><br>
						Email: contact@iampankaj.in<br>
                        			</td>
						<td style="border:0;width:45%"><b style="font-size:14px;">Rohan Jain</b><br>
                            			Email: contact@rohanjain.in<br>
                        			</td>
					</tr>
				</tbody></table>
  </div>
</div>
</div>
{% endblock %}
{% block sidebar %}{% endblock %} 
