{% extends 'layout.html' %}
{% block content_heading %}Overnite Team{% endblock %}
{% block content %}
<div class = "widen" style="position:relative; left:-20px;">
<div id="contentBlock" style="display: block; "><div class="item mainItem">
        <h2>Credits</h2><br>
        <!-- <p class="info"><span class="date">01. 01. 2008</span> - <a href="">article tag</a> - <a href="">18 comments</a></p> -->
        <div class="perex">
			<div>
				<table>
					<tbody><tr>
						<td style="border:0;width:45%"><b style="font-size:14px;">Sanket Agarwal<br>Problem Statements</b><br>
							Email: snktagarwal@gmail.com<br>
							Ph:+91 9733504396
						</td>
					</tr>
					<tr>
						<td style="border:0;width:45%"><b style="font-size:14px;">Pankaj Singh<br>Developer</b><br>
                            Email: contact@iampankaj.in<br>
                            Ph:+91 8001231685
                        </td>
						<td style="border:0;width:45%"><b style="font-size:14px;">Rohan Jain<br>Developer</b><br>
                            Email: contact@rohanjain.in<br>
                            Ph:+91 9775287007
                        </td>
						<td style="border:0;width:45%">&nbsp;
						</td>
					</tr>
				</tbody></table>
</div>

		</div>
      </div>
</div>
{% endblock %}
{% block sidebar %}{% endblock %} 
