{% extends 'base.html' %}
{% block head %}
{% load problem_tags custom_filters %}
<style type="text/css">
</style>
{% endblock %}
{% block content %}
<div id="home_content">
  <table>
  <tr>
    <td width="50%">
      <h2>Latest updates</h2>
    </td>
    <td width="50%">
      <h2>Recent News etc ... </h2>
    </td>
  </td>
</table>
{% endblock %}

{% block sidebar %}
<h2>Social Streams</h2>
<table>
<tr><td>
<div class="fb-like-box" data-href="https://www.facebook.com/CodeBhaat" data-width="300" data-height="400" data-show-faces="true" data-stream="true" data-header="true" style="align: center" ></div>
</td></tr>
<tr><td>
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 300,
  height: 300,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('codebhaat').start();
</script>
</td></tr>
</table>

{% endblock %}
