{% extends 'base.html' %}
{% load cache humanize %}
{% load problem_tags %}
{% block content_heading %}<a href={% url contest_list %}>Contest</a> > {{ contest }}{% endblock %}
{% block content %}
	
	<div class="row"> <!-- START:ROW Problem list -->

    {% regroup problems|dictsort:"level" by get_level_display as level_list %}
    {% for level in level_list %}
	    <h3>{{ level.grouper }}</h3>
	    {% for p in level.list %}
	    <table class="table table-striped"> <!-- START: Table for problem list -->
	      <tr>
		      <td><a href="{% url problem_detail contest.pk p.pk %}">{{ p.title }}</a> ({{ p.total_marks }} marks)</td>
		
		        {% if p.is_tut %}
		        <td><a href="{% url tutorial_detail contest.pk p.pk %}">Tutorial</a></td>
		        {% endif %}
		
	         <td width="20px">
	        		<img src="/media/admin/img/admin/{{ p.status_img.0 }}" title="{{ p.status_img.1 }}"/>
				</td>
	       </tr>
	    </table> <!-- END: Table for problem list -->
    {% endfor %}
    {% empty %}
        No problems are available.
    {% endfor %}
	</div> <!-- END: ROW Problem list -->
{% endblock %}

{% block sidebar %}

	<h3>Tag Cloud</h3>
    {% tag_cloud %}
  <br/>
  <h3>Your stats:</h3>
    Rank: <b>{{ rank.rank }}</b><br/>
    Total Marks: <b>{{ rank.total_marks }}</b>
    <br/>
    <h3>Correct Submissions</h3>
    <table class="table table-striped">
    			<th>Coder</th><th>Problem</th><th>Lang</th><th></th>
    		</tr>
    	</thead>
    	<tbody>
  		{% for submission in submissions %}
  		{% if submission.correct %}
    		<tr>
    			<td>{% if submission.user.get_profile %}<a href="{% url profiles_profile_detail submission.user %}">{{ submission.user }}</a>{% else %}{{ submission.user }}{% endif %}</td><td><a href="{% url problem_detail contest.pk submission.problem.pk %}">{{ submission.problem|truncatewords:2}}</a></td><td>{{ submission.language|title }}</td><td>{{ submission.time|timesince }} ago</td>
    		</tr>
    	{% endif %}
    	{% empty %}
    		<tr>
            <td>No submissions</td><td></td><td></td><td></td><td></td>
    		</tr>
    	{% endfor %}
    	</tbody>
    </table>
</div>

{% endblock %}
