<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="copyright" content="Overnite - Kshitij 2011" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>Code-BHAAT</title>
        <link rel="stylesheet" type="text/css" href="/media/stylesheets/default.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/media/stylesheets/print.css" media="print" />
        {% block head %}{% endblock %}
        <style type="text/css">
            #extra {
                width: 400px;
                color: #fff;
                font-size:12px;
            }
            
            #extra a {
                color: #fff;
                font-size:12px;
            }
        </style>
    </head>
    <body>
        <div id="view">
            <!-- #header (main heading + logo with slogan) -->
            <div id="head">
                <!-- main headings with search component -->
                <div id="main">
                    <h1 style="color:#fff;">Code-BHAAT</h1>
                    <div id="extra">
                        {% if request.user.is_active %}
                        Welcome {{ request.user }}&nbsp;|&nbsp;{% if user.get_profile %}<a href="{% url profiles_profile_detail user %}">Your Profile{% else %}<a href="{% url profiles_create_profile %}">Create Profile{% endif %}</a>&nbsp;|&nbsp;<a href="/logout/">Logout</a>
                        {% if request.user.is_superuser %} 
                        | <a href="/siteadmin/">Admin</a>
                        {% endif %}
                        {% else %}<a href="/login/">Log In</a>&nbsp;|&nbsp;<a href="/accounts/register/">Sign up</a>
                        {% endif %}
                    </div>
                </div>
                <!-- /main headings with search component --><hr class="hidden" /><!-- main horizontal menu -->
                <div id="mainMenu">
                    <ul>
                        <li id="index_m">
                            <a href="/">Home<span></span></a>
                        </li>
                        <li id="index_m">
                            <a href="/contest/">Contest<span></span></a>
                        </li>
                        <li id="index_m">
                            <a href="/instructions/">Instructions<span></span></a>
                        </li>
                        <li id="index_m">
                            <a href="/credits/">Credits<span></span></a>
                        </li>
                        <li id="index_m">
                            <a href="/updates/">Updates<span></span></a>
                        </li>
                        <li id="index_m">
                            <a href="/ticket/">Queries<span></span></a>
                        </li>
                    </ul>
                </div>
                <!-- /main horizontal menu --><hr class="hidden" /><!-- logo with slogan
                <div id="logo">
                </div>
                --><!-- /logo with slogan --><hr class="hidden" />
            </div><!-- /#header (main heading + logo with slogan) --><!-- #main content construct -->
            <div id="content">
                <!-- #left part of web - main content -->
                <div id="contentBlock">
                    <!-- #first (main) article --><h3>{% block content_heading %}{% endblock %}</h3>
                    <p style="margin-top:-10px;">
                        {% block content %}{% endblock %}
                    </p>
                    <!-- /#first (main) article -->
                </div>
                {% block sidebar %}{% endblock %}<!-- /#left part of web - main content --><hr class="hidden" />
            </div><!-- /#main content construct -->
            <!-- #footer -->
            <div id="foot">
                <p class="fl">
                    A django project
                </p>
            </div>
            <!-- /#footer -->
        </div>
    </body>
</html>
