<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="copyright" content="Overnite - Kshitij 2011" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>code#bhaat</title>
         <link rel="stylesheet" type="text/css" href="/media/stylesheets/bootstrap-1.0.0.css" />
        <link rel="stylesheet" type="text/css" href="/media/stylesheets/default.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/media/stylesheets/print.css" media="print" />

        {% block head %}{% endblock %}
        <style type="text/css">
            /*#extra {
                width: 400px;
                color: #fff;
                font-size:12px;
            }

            #extra a {
                color: #fff;
                font-size:12px;
            }
            ul li {
                list-style: none;
            }*/
        </style>
    </head>
    <body>
    <!-- For FB social plugin -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <!-- End for FB social plugin -->

        <div id="view">
            <!-- #header (main heading + logo with slogan) -->
            <div id="head">
                <!-- main headings with search component -->
                <div id="main">
                    <h1 style="color:#fff;">code#bhaat</h1>
                    <div id="extra">
                        {% if request.user.is_active %}
                        Welcome {{ request.user }}&nbsp;|&nbsp;{% if user.get_profile %}<a href="{% url profiles_profile_detail user %}">Your Profile{% else %}<a href="{% url profiles_create_profile %}">Create Profile{% endif %}</a>&nbsp;|&nbsp;<a href="/logout/">Logout</a>
                        {% if request.user.is_superuser %}
                        | <a href="/siteadmin/">Admin</a>
                        {% endif %}
                        {% else %}<a href="/login/">Log In</a>&nbsp;|&nbsp;<a href="/accounts/register/">Sign up</a>
                        {% endif %}
                    </div>
                </div>
                <!-- /main headings with search component --><hr class="hidden" /><!-- main horizontal menu -->
                <div class="topbar">
                  <div class="fill">
                    <div class="container">
                    <ul align="center">
                        <li id="index_m">
                        <a href="/">Home<span></span></a>
                        </li>
                        <li id="index_m">
                            <a href="/weblog/">Blog<span></span></a>
                        </li>
                        <li id="index_m">
                            <a href="/contest/">Contest<span></span></a>
                        </li>
                        <li id="index_m">
                            <a href="/contribute/">Contribute<span></span></a>
                        </li>

                        <li id="index_m">
                            <a href="/instructions/">Instructions<span></span></a>
                        </li>
                        <li id="index_m">
                            <a href="/updates/">Updates<span></span></a>
                        </li>
                        <li id="index_m">
                            <a href="/contact-us/">Contact Us<span></span></a>
                        </li>
                    </ul>

                    <div align="right" style="padding-top: 10px">
                      <!-- FB Like button -->
                      <div class="fb-like"
                        data-href="https://www.facebook.com/CodeBhaat"
                        data-send="false" data-layout="button_count"
                        data-width="10" data-show-faces="false">
                      </div>
                      <!-- end FB Like button -->
                      <!-- start Twitter plugin -->
                      <a href="https://twitter.com/codebhaat"
                        class="twitter-follow-button" data-width="200px"
                        data-align="right">@codebhaat</a>
                        <script>!function(d,s,id){var
                        js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                      <!-- end twitter plugin -->

                  </div><!-- end social plugins -->

                  </div><!--end container-->
                  </div> <!--end fill-->
                </div> <!--end topbar-->
                <!-- /main horizontal menu --><hr class="hidden" /><!-- logo with slogan
                <div id="logo">
                </div>
                --><!-- /logo with slogan --><hr class="hidden" />
            </div><!-- /#header (main heading + logo with slogan) --><!-- #main content construct -->
            <div id="content">
                <!-- #left part of web - main content -->
                <div id="contentBlock">
                    <!-- #first (main) article --><h2>{% block content_heading %}{% endblock %}</h2>
                    <hr/>
                    <p style="margin-top:-10px;">
                        {% block content %}{% endblock %}
                    </p>
                    <!-- /#first (main) article -->
                </div>
                {% block sidebar %}{% endblock %}<!-- /#left part of web - main content --><hr class="hidden" />
            </div><!-- /#main content construct -->
            <!-- #footer -->
            <div id="foot">
                <p class="fl">
                    A django project
                </p>
            </div>
            <!-- /#footer -->
        </div>
    </body>
</html>
